.mainContainer .wrapper a {
  text-decoration: initial;
}

div.productShowcaseSection {
  padding-top: 20px;
  padding-bottom: 20px;
}

.productShowcaseSection .indexUsers a {
    max-width: 300px;
    padding: 0 15 0 15;
}

.productShowcaseSection h2 {
  margin-bottom: 10px;
}

.productShowcaseSection div.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.productShowcaseSection div.blockElement {
  padding-top: 20px;
  padding-bottom: 20px;
}

div.descriptionSection {
  padding-top: 20px;
  padding-bottom: 40px;
}

.descriptionSection p {
  text-align: left;
  margin-left: 21.5%;
  margin-right: 21.5%;
}

.descriptionSection .container h2 {
  font-size: 30px;
}

.descriptionSection .blockImage {
  margin-top: 7%;
}

.videoSection {
  padding: 4rem 0;
  padding-top: 1rem;
}

.videoContainer {
  max-width: 560px;
  margin: 0 auto;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
